html,
body {
    background-image: url("images/temp_background.webp");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}