@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --foreground: #CAD3F5;
    --background: #24273A;

    --active: #F5A97F;

    --selection-foreground: #24273A;
    --selection-background: #F4DBD6;

    --cursor: #F4DBD6;
    --cursor-text-color: #24273A;

    --url-color: #F4DBD6;

    --font: "Source Code Pro", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body {
    padding: 0;
    margin: 0;

    height: 100%;

    font-family: var(--font);
    font-size: 1rem;

    color: var(--foreground);
    background-color: var(--background);
}

::selection {
    color: var(--selection-foreground);
    background-color: var(--selection-background);
}

::-moz-selection {
    color: var(--selection-foreground);
    background-color: var(--selection-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
a {
    padding: 0;
    margin: 0;
}

.app {
    padding: 1rem;
    margin: 0;
}

.greeting {

}

a {
    color: var(--foreground);

    text-decoration: 1px underline var(--url-color);
    border: 1px dashed transparent;

    cursor: crosshair;
}

a:hover {
    border: 1px dashed var(--url-color);
}

a:active {
    color: var(--active);

    text-decoration: 1px underline var(--active);
}